body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.nav {
  margin-bottom: 1rem;
}
nav a {
  display: inline-block;
  margin: 1em;
}

input {
  height: 3rem;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

main {
  display: flex;
}

main #left {
  flex: 3;
}

main #right {
  border-left: solid 1px dodgerBlue;
  flex: 2;
  margin-left: 1rem;
  padding-left: 1rem;
}
